/**************************************************************
***															***
***					          FORMATAGE						***
***															***
***************************************************************/

:root {
	--main-color1: #23333e;
	--main-color2: #c27e6c;
	--text-color: #222;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body, html {
	font-family: 'Arial', sans-serif;
	margin: 0;
	padding: 0;
	height: 100%;
}

main {
	height: 100%;
	background-color: #e7e7e7;
    width: 60%;
    left: 20%;
    position: relative;
    padding: 50px;
    margin-top: 7%;
}

a, a:visited { 
	text-decoration: none; 
}

/**************************************************************
***															***
***					          NAV BAR						***
***															***
***************************************************************/

header {
	user-select: none;
	background-color: #f4f4f4;
	padding: 10px 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99999;
}

nav {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	padding: 0 5%;
	color: var(--text-color);
	padding: 0 10%;
}

nav p {
	margin-right: auto;
	font-size: xx-large;
	font-weight: bold;
	margin: 0;
	margin-right: auto;
}

nav p::first-letter {
	font-size: 1.5em;
}

nav ul {
	list-style: none;
	display: flex;
	gap: 30px;
	margin: auto 0;
	padding: 0;
	font-size: larger;
}

nav ul li a {
	text-decoration: none;
	font-weight: bold;
	color: var(--text-color);
}

#logo {
	margin-right: 20px;
	width: 23px;
	font-weight: bold;
}

/**************************************************************
***															***
***					          BODY  						***
***															***
***************************************************************/

h2 {
    text-align: center;
    margin-bottom: 10px;
}

p {
    text-align: center;
    padding: 10px 0;
}

main img {
	margin-left: 10px;
	width: 25px;
	font-weight: bold;
}

fieldset {
    border: none;
    margin-top: 20px;
}

fieldset legend {
    font-weight: bold;
}

label {
    display: inline-block;
    width: 15%;
    margin: 3px;
}

.name {
    width: 8%;
}

.button {
	background-color: white;
	border-radius: 8px;
	border: 2px solid black;
	cursor: pointer;
	font-size: 16px;
	font-weight: 500;
	height: 4rem;
	padding: 0 1.6rem;
	margin-top: 25px;
	text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
	transition: all .5s;
	user-select: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
  
.button:hover {
    color: #e7e7e7;
	background-color: var(--main-color2);
	border: none;
	box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
	transition-duration: .1s;
}


/**************************************************************
***															***
***					          FOOTER						***
***															***
***************************************************************/

footer {
	background-color: var(--text-color);
	color: white;
	text-align: center;
	padding: 20px 0 10px 0;
}

.foot {
	display: inline-block;
	width: 80%;
	text-align: left;
}

.foot h1 {
	display: inline;
}

.reseau {
	display: inline-flex;
	gap: 15px;
	float: right;
}

.reseau img {
	height: 30px;
	width: 30px;
}

.footer-links {
	text-align: center;
	margin: 20px 0;
}

.footer-links a {
	margin: 10px;
	color: white;
	text-decoration: underline;
}

.carbon {
	display: inline-flex;
}

.carbon p {
	margin: auto;
	margin-right: 50px;
	color: white;
}