body {
	font-family: 'Arial', sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #f4f4f4;
	padding: 10px 0;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10%;
}

nav ul {
	list-style: none;
	display: flex;
	gap: 30px;
}

nav ul li a {
	text-decoration: none;
	font-weight: bold;
	color: #333;
}

#logo {
	width: 20px;
}

#logo {
	font-weight: bold;
}

main {
	background-color: #e7e7e7;
	padding: 20px 10%;
}

#carousel {
	position: relative;
	text-align: center;
}

#carousel img {
	width: 90%;
}

#welcome {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	color: white;
	text-shadow: 2px 2px 2px black;
}

hr {
	border: 1px solid #333;
	width: 105%;
	position: relative;
	left: -2.5%;
	margin: 20px 0;
}

#features {
	display: flex;
	justify-content: space-between;
}

.feature {
	background-color: #d3d3d3;
	text-align: justify;
	padding: 20px;
	width: 27%;
}

footer {
	background-color: #333;
	color: white;
	text-align: center;
	padding: 10px 0;
}
