/**************************************************************
***															***
***					          FORMATAGE						***
***															***
***************************************************************/

:root {
	--main-color1: #23333e;
	--main-color2: #c27e6c;
	--text-color: #222;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Arial', sans-serif;
	margin: 0;
	padding: 0;
	height: 100%;
}

main {
	height: 100%;
	background-color: #e7e7e7;
	margin-top: 4.33%;
}

a:visited { 
	text-decoration: none;
}

/**************************************************************
***															***
***					          NAV BAR						***
***															***
***************************************************************/

header {
	user-select: none;
	background-color: #f4f4f4;
	padding: 10px 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99999;
}

nav {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	padding: 0 5%;
	color: var(--text-color);
	padding: 0 10%;
}

nav p {
	margin-right: auto;
	font-size: xx-large;
	font-weight: bold;
	margin: 0;
	margin-right: auto;
}

nav p::first-letter {
	font-size: 1.5em;
}

nav ul {
	list-style: none;
	display: flex;
	gap: 30px;
	margin: auto 0;
	padding: 0;
	font-size: larger;
}

nav ul li a {
	text-decoration: none;
	font-weight: bold;
	color: var(--text-color);
}

#logo {
	margin-right: 20px;
	width: 23px;
	font-weight: bold;
}

/**************************************************************
***															***
***					          ROOMS							***
***															***
***************************************************************/

.left-room,
.right-room {
	margin-top: 7%;
	width: 80%;
	display: flex;
	position: relative;
	left: 10%;
}

.left-room .left {
	width: 60%;
	padding: 50px;
}

.left-room .right {
	width: 40%;
	border: 1px solid black;
}

.left-room h2 {
	text-align: right;
}

.left-room hr {
	width: 4%;
	border: none;
	border-top: 5px solid black;
	margin: 15px 0px 30px 0px;
	position: relative;
	left: 96%;
}

.right-room .right {
	width: 60%;
	padding: 50px;
}

.right-room .left {
	width: 40%;
	border: 1px solid black;
}

.right-room h2 {
	text-align: left;
}

.right-room hr {
	width: 4%;
	border: none;
	border-top: 5px solid black;
	margin: 15px 0px 30px 0px;
}

.description {
	text-align: justify;
}

#singleRoom {
	background-image: url(./images/singleRoom.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	border: none;
}

#doubleSeperate {
	background-image: url(./images/doubleSeparate.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	border: none;
}

#double {
	background-image: url(./images/double.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	border: none;
}

#luxuriousRoom {
	background-image: url(./images/luxuriousRoom.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	border: none;
}

#roomTR {
	background-image: url(./images/TeddyRinerRoomPlaceholder.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	border: none;
}

/**************************************************************
***															***
***					          FOOTER						***
***															***
***************************************************************/

footer {
	margin-top: 7%;
	background-color: var(--text-color);
	color: white;
	text-align: center;
	padding: 20px 0 10px 0;
}

.foot {
	display: inline-block;
	width: 80%;
	text-align: left;
}

.foot h1 {
	display: inline;
}

.reseau {
	display: inline-flex;
	gap: 15px;
	float: right;
}

.reseau img {
	height: 30px;
	width: 30px;
}

.footer-links {
	text-align: center;
	margin: 20px 0;
}

.footer-links a {
	margin: 10px;
	color: white;
}

.carbon {
	display: inline-flex;
}

.carbon p {
	margin: auto;
	margin-right: 50px;
	color: white;
}

#greencode {
	max-height: 50px;
	width: auto;
	position: relative;
	left: 10%;
}

/**************************************************************
***															***
***					          RESPONSIVE					***
***															***
***************************************************************/

@media screen and (min-width: 810px) {
	nav {
		padding: 0 10%;
	}
}

@media screen and (min-width: 1370px) {
	.left-room,
	.right-room {
		width: 60%;
		left: 20%;
	}
}